# System
Thumbs.db
.DS_Store
*.bak
*~

# Project dirs
/zProjectDevelopment/*
/media/
/screenshots/*
# /.vscode/

# Project files
/vintets.clickermann/images/Clickermann_icon_16x.png
/vintets.clickermann/images/Clickermann_icon_32x.png
/vintets.clickermann/images/Clickermann_icon_96x.png

# Simlinks

# Log files
/logs/

# Other files
**/*_old*
**/*_backup*
**/*.jpg
**/*.webm
**/*.mp4
**/*.mkv
**/*.wav
**/*.mp3
**/*.m4a
**/*.exe
**/*.lnk
!/zProjectDevelopment/_ProjectDescription.txt
!/screenshots/*_screenshot_*.png
